#!/bin/sh
set -e 

PACKAGE=protobuf

case "$1" in
  build)
    # need protoc on the build host
    protoc=`which protoc`
    ./configure --host=arm-linux --prefix=/$BASEDIR \
      CC=agcc CXX=ag++ LDFLAGS="-Wl,-dynamic-linker,/$BASEDIR/bin/linker" \
      LIBS=-lm --disable-shared \
      --with-protoc="$protoc"
    make
    ;;

  install)
    DESTDIR=~/tmp/$PACKAGE
    rm -rf $DESTDIR
    mkdir -p $DESTDIR
    make install DESTDIR=$DESTDIR

    # -devel package
    DEVEL_DESTDIR=~/tmp/$PACKAGE-devel
    rm -rf $DEVEL_DESTDIR
    mkdir -p $DEVEL_DESTDIR/$BASEDIR/lib
    mv $DESTDIR/$BASEDIR/lib/*.{a,la} $DESTDIR/$BASEDIR/lib/pkgconfig $DEVEL_DESTDIR/$BASEDIR/lib
    mv $DESTDIR/$BASEDIR/include $DEVEL_DESTDIR/$BASEDIR
    mv $DESTDIR/$BASEDIR/bin $DEVEL_DESTDIR/$BASEDIR/bin
    mkdir -p $DEVEL_DESTDIR/CONTROL
    cp opkg/control-devel $DEVEL_DESTDIR/CONTROL/control
    opkg-build -o 0 -g 0 -b $BASEDIR $DEVEL_DESTDIR `cd .. ; pwd`
    ;;
    
  clean)
    make clean
    ;;

  *)
    echo unknown argument $1
    ;;
esac
